<table class="table">
  <tr>
    <th>ID</th>
    <th>用户</th>
    <th>饭菜种类</th>
    <th>时间</th>
    <th>上/下午</th>
    <th>付款人</th>
    <th></th>
  </tr>
  <% @books.each do |book| %>
    <tr>
      <td><%= blog.id %></td>
      <td><%= blog.user.username %></td>
      <td><%= blog.meal %></td>
      <td><%= blog.times %></td>
      <td><%= blog.day %></td>
      <td><%= blog.payer %></td>
    </tr>
  <% end -%>
</table>

<%= will_paginate @books %>